QMainWindow
{
    background-color: rgb(255, 255, 255);
}
QPushButton
{
    background-color: rgb(255, 255, 255);
}
QSplitter::handle
{
    height: 3px;
    background-color: lightgray;
}
QSplitter::handle::hover
{
    height: 3px;
    background-color: black;
}
QSplitter::handle::pressed
{
    border: 2px solid white;
    background-color: darkgray;
}
QSplitter::handle::horizontal::hover
{
    height: 20px;
    color: red;
}
