QMainWindow, QPushButton, QMenuBar, QToolBar
{
	background-color: rgb(255, 255, 255);
}

QSplitter::handle
{
	height: 3px;
	background-color: lightgray;
}
QSplitter::handle::hover
{
	background-color: black;
}
QSplitter::handle::pressed
{
	background-color: black;
}
